@inherits LayoutComponentBase
@using Website.Client.Design;
@using System.Drawing;

<div class="variable-wraper">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    <div>
        <button @onclick="ChangeCollorButtonPress"> Change Color </button>
    </div>
    </div>
</div>


@* Outside css file to acces state*@
<style>
    .variable-wraper {
        --bg: @ViewState.Value.Colors.BackgroundHtml;
        --ad: @ViewState.Value.Colors.AccentDarkHtml;
        --am: @ViewState.Value.Colors.AccentMediumHtml;
        --al: @ViewState.Value.Colors.AccentLightHtml;
    }
</style>