<div class="navbar-all">

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Robin Claesson</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass">
        <nav class="flex-column">
            @*Home*@
            <div class="nav-item px-3" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true" />
                    Home
                </NavLink>
            </div>

            @*Projects*@
            <div class="nav-item px-3">
                <NavLink class="nav-link" Match="NavLinkMatch.All" @onclick="ToggleProjectMenu">
                    <span class="oi oi-wrench" aria-hidden="true" />
                    Projects
                    &#160;&#160;

                    @if (ViewState.Value.OpenWindows.ProjectMenu)
                    {
                        <span class="oi oi-caret-top" aria-hidden="true" />
                    }
                    else
                    {
                        <span class="oi oi-caret-bottom" aria-hidden="true" />
                    }
                </NavLink>
            </div>
            @if (ViewState.Value.OpenWindows.ProjectMenu)
            {
                @foreach (var project in ViewState.Value.Projects)
                {
                    <div class="nav-item px-3 project-item">
                        <Tooltip Text="@project.Description" Placement="TooltipPlacement.RightEnd">
                            <NavLink class="nav-link" href="@PageHref(project.PageName)" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                                <span class="oi oi-@project.Icon" aria-hidden="true" />
                                @project.Name
                            </NavLink>
                        </Tooltip>
                    </div>
                }
                @*<div class="nav-item px-3 project-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                        More projects incoming!
                    </NavLink>
                </div>*@
            }

            }

        </nav>
    </div>
</div>
