@inherits FluxorComponent

<div class="settings">
    <Dropdown Direction="Direction.Up">
        <DropdownToggle Color="Color.Secondary" TextColor="TextColor.Dark">
            <span class="oi oi-cog gear-icon" aria-hidden="true"></span>
        </DropdownToggle>

        <DropdownMenu Background="Background.Secondary">

            @*Themes*@
            <Dropdown Direction="Direction.Start">
                <DropdownToggle TextColor="TextColor.Primary"
                                Color="Color.Secondary"
                                Background="Background.Secondary">
                    Themes
                </DropdownToggle>

                <DropdownMenu Background="Background.Secondary">
                    @foreach (var theme in ViewState.Value.DefaultThemes)
                    {
                        <DropdownItem @onclick="args => ThemeClickedInSettingsMenu(args, theme)"
                                  Background="Background.Secondary"
                                  TextColor="TextColor.Primary">

                            @theme.ThemeName
                            @if (theme == ViewState.Value.ActiveTheme)
                            {
                                @:&#160;&#160;<span class="oi oi-check active-icon" aria-hidden="true"></span>
                            }
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

        </DropdownMenu>
    </Dropdown>
</div>
