<h3>Attributions</h3>
<a href="https://www.flaticon.com/free-icons/cv" title="CV icons">CV icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/letter" title="letter icons">Letter icons created by Freepik - Flaticon</a>
@code {

}
