@page "/"

<PageTitle>Robin Claesson</PageTitle>

<Heading>
    <Text TextColor="TextColor.Primary">
        Hello Claesson!
    </Text>
</Heading>


<Row>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Primary">
            Primary
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Secondary">
            Secondary
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Dark">
            Dark
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Light">
            Light
        </Button>
    </Column>
</Row>

<Divider />