@page "/"

<PageTitle>Robin Claesson</PageTitle>

<h1>Hello Claesson!</h1>

Welcome to your new app.
<div>
    <p>Value of background: @ViewState.Value.Colors.Background</p>
    <p>Value of dark: @ViewState.Value.Colors.AccentDark</p>
    <p>Value of middle: @ViewState.Value.Colors.AccentMedium</p>
    <p>Value of light: @ViewState.Value.Colors.AccentLight</p>
</div>
