@inherits FluxorComponent
@page "/palette"

<PageTitle>Robin Claesson</PageTitle>

<Heading>
    <Text TextColor="TextColor.Primary">
        Test out theme palette
    </Text>
</Heading>

<Row>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Primary"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Bold">
                Primary text on<br />
                Primary color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Secondary"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Bold">
                Primary text on<br />
                Secondary color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Dark"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Bold">
                Primary text on<br />
                Dark color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Light"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Bold">
                Primary text on<br />
                Light color
            </Text>
        </Button>
    </Column>

</Row>
<Divider />

<Row>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Primary"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Secondary"
                  TextWeight="TextWeight.Bold">
                Secondary text on<br />
                Primary color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Secondary"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Secondary"
                  TextWeight="TextWeight.Bold">
                Secondary text on<br />
                Secondary color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Dark"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Secondary"
                  TextWeight="TextWeight.Bold">
                Secondary text on<br />
                Dark color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Light"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Secondary"
                  TextWeight="TextWeight.Bold">
                Secondary text on<br />
                Light background
            </Text>
        </Button>
    </Column>
</Row>
<Divider />

<Row>
    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Primary"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Info"
                  TextWeight="TextWeight.Bold">
                Info text on<br />
                Primary color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Secondary"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Info"
                  TextWeight="TextWeight.Bold">
                Info text on<br />
                Secondary color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Dark"
                Width="Width.Is100"
                Height="Height.Is100">
            <Text TextColor="TextColor.Info"
                  TextWeight="TextWeight.Bold">
                Info text on<br />
                Dark color
            </Text>
        </Button>
    </Column>

    <Column ColumnSize="ColumnSize.Is3">
        <Button Color="Color.Light"
                Width="Width.Is100"
                Height="Height.Is100">
            <Div class="text-outline">
                <Text TextColor="TextColor.Info"
                      TextWeight="TextWeight.Bold">
                    Info text on <br />
                    Light color
                </Text>
            </Div>
        </Button>
    </Column>
</Row>
<Divider />

<Row>
    <Column ColumnSize="ColumnSize.Is4">
        <Paragraph>
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Bold">
                Bold Primary text on Background color
            </Text>
        </Paragraph>
        <Paragraph>
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Normal">
                Normal Primary text on Background color
            </Text>
        </Paragraph>
        <Paragraph>
            <Text TextColor="TextColor.Primary"
                  TextWeight="TextWeight.Light">
                Light Primary text on Background color
            </Text>
        </Paragraph>
    </Column>
</Row>